@import "tailwindcss";

@theme {
        --color-light-blue: #41576D;
        --color-dark-blue: #112D49;
        --color-base-color: #112D4914;
        --color-white-smoke: #EEEDED;
        --color-charcoal-gray: #4D4D4D; 
        --color-off-white: #F4F4F4;
        --color-dark-gray: #4A4A4A;
        --color-navy-blue: #222D52;
      }